.vscode
__pycache__
cuwalid/dryp/__pycache__
tests/__pycache__
tests/dryp/scripts/__pycache__
test_output
tests/dryp/tilted_v/output/
CUWALID.egg-info
dist
build
stopet_result
cuwalid/stopet/stopet_parameters/monthly_cont_percentage.nc
cuwalid/stopet/stopet_parameters/stopet_parameters.nc
cuwalid/stopet/stopet_parameters/dpetdt.nc
cuwalid/stopet/stopet_parameters/hpet_slope.nc
cuwalid/stopet/stopet_parameters/meanshift_had.nc
cuwalid/stopet/stopet_parameters/stdshift_had.nc
forecasting_dataset/
cache/
forecast_plot_input.json
run_forecast.py
output/
output_somalia/
test.py
stopet_input.json
run_stopet.py
run_impact.py
ICPAC_TempF_OND2022_HAD.nc
