.vscode
__pycache__
cuwalid/dryp/__pycache__
tests/__pycache__
tests/dryp/scripts/__pycache__
test_output
tests/dryp/tilted_v/output/
CUWALID.egg-info
dist
build
stopet_result
cuwalid/stopet/stopet_parameters/monthly_cont_percentage.nc
cuwalid/stopet/stopet_parameters/stopet_parameters.nc
cuwalid/stopet/stopet_parameters/dpetdt.nc
cuwalid/stopet/stopet_parameters/hpet_slope.nc
cuwalid/stopet/stopet_parameters/meanshift_had.nc
cuwalid/stopet/stopet_parameters/stdshift_had.nc
forecasting_dataset/
cache/
run_forecast.py
output/
output_somalia/
test.py
run_stopet.py
run_impact.py
run_storm.py
run_dryp.py
run_cuwalid.py
ICPAC_TempF_OND2022_HAD.nc
model_output/
input_files/
dryp_output/
storm_output/
parameters_dataset_list.json
stopet_output/
json_testing/
logs/
inputs/
cuwalid/forecasting/osm_data/
forecast_output/
fig/
netcdf/
output.log
forecast/
historical/
aux_plot_maps_parallel.py
test/
*.log
docs/source/notebooks/DRYP/.ipynb_checkpoints
storm_output_test/
cuwalid/tests/dryp/tilted_v/output/*
cuwalid/tests/dryp/HAD_test_precipitation.nc
cuwalid/tests/dryp/HAD_test_precipitation_01.nc
cuwalid/tests/dryp/test_save_netcdf.nc
cuwalid/tests/dryp/test_save_netcdf_max.nc
MAM_2022/
dryp_jsons.txt
stopet_jsons.txt
storm_jsons.txt
test2.py
test3.py
test.py.lprof
JJAS_test/
cuwalid/dryp/components/faccumf90.cpython-39-x86_64-linux-gnu.so
cuwalid/dryp/components/lakesf90.cpython-39-x86_64-linux-gnu.so
.github/agents/