.vscode
__pycache__
cuwalid/dryp/__pycache__
tests/__pycache__
tests/dryp/scripts/__pycache__
test_output
tests/dryp/tilted_v/output/
CUWALID.egg-info
dist
build
stopet_result
cuwalid/stopet/stopet_parameter_files/monthly_cont_percentage.nc
cuwalid/stopet/stopet_parameter_files/stopet_parameters.nc
forecasting_dataset/
cache/
forecast_plot_input.json
run_forecast.py
output/
test.py
