recursive-include cuwalid/tests/dryp/tilted_v *
recursive-include cuwalid/dryp/components *
recursive-include cuwalid/stopet/stopet_parameters *.nc
recursive-include cuwalid/forecasting/forecasting_dataset *
include cuwalid/tests/stopet/test_input.json